# Recursos a ingnorar

Servers
.metadata
.settings
target
.classpath
.project
#.tern-project
RemoteSystemsTempFiles
/.metadata/

app-be-gestion-pedidos-rg/.mvn/
app-be-gestion-pedidos-rg/.factorypath
app-be-gestion-pedidos-rg/HELP.md

Angular/app-fe-gestion-pedidos-v1/node_modules
Angular/app-fe-gestion-pedidos-v2/node_modules