# Recursos a ingnorar
Servers
.metadata
.settings
target
.classpath
.project
#.tern-project
RemoteSystemsTempFiles
app-be-gestion-pedidos-rg/.metadata/
app-be-gestion-pedidos-rg/mvnw
app-be-gestion-pedidos-rg/mvnw.cmd
app-be-gestion-pedidos-rg/.mvn

Angular/app-fe-gestion-pedidos-v1/node_modules
Angular/app-fe-gestion-pedidos-v2/node_modules